<!--<h1 class="app">{{title}}</h1>-->
<!--<div>-->
    <!--{{numberOne}}-->
    <!--{{numberTwo}}-->
    <!--{{numberOne + numberTwo}}-->
    <!--{{numberOne * numberTwo}}-->
    <!--{{numberOne === 1 ? "yes it is " : "no"}}-->
<!--</div>-->
<!--<div>-->
    <!--{{numberTwo + title}};-->
<!--</div>-->
<!--<div>-->
    <!--{{title + numberTwo}};-->
<!--</div>-->
<!--<div>-->
    <!--{{model.name}}-->
<!--</div>-->
<!--<div>-->
    <!--{{model.id}}-->
<!--</div>-->
<!--<div>-->
    <!--{{model.optional?.id}}-->
<!--</div>-->

<h1>EXAMPLE APP</h1>
